.icon {
  width: 65px;
  height: 65px;
  // margin-top: 36px;
  margin-left: auto;
  margin-right: auto;
  background-position: center;
  background-repeat: no-repeat;
  background-origin: content-box;
  &-angular {
    background-image: url("../../assets/icons/angular.svg");
  }
}
.slide-title {
  margin-top: 15px;
  text-align: center;
  color: #d2d2d2;
}

.slide-wrapper {
  height: calc(175px - 36px);
  padding-top: 36px;
  border-right: solid 0.01px #d2d2d2;
}

.slider-wrapper {
  background-color: white;
}
