@import "../../assets/styles/_variables.scss";
@media (hover: hover) {
  .services-slide:hover {
    background-color: $main-color;
    border-color: $main-color;
    .services-slide-icon {
      background-color: #fff;
    }
    .services-slide-content {
      &-container {
        transform: translateY(calc(-50% - 10px));
      }
      h3 {
        color: white;
      }
      small {
        color: rgba(255, 255, 255);
        opacity: 0.6;
      }
    }
  }
}
@media (hover: none) {
  .services-slide {
    background-color: $main-color;
    .services-slide-icon {
      background-color: #fff;
    }
    .services-slide-content {
      h3 {
        color: white;
      }
    }
  }
}
.services-slide {
  cursor: pointer;
  padding: 25px;
  border: 1px solid #c8cfcf;
  display: flex;
  align-items: center;
  &-icon {
    width: 30%;
    max-width: 130px;
    aspect-ratio: 1;
    background-color: #2a2a2a;
    &-0 {
      mask: url("../../assets/icons/services/pages/0.svg") no-repeat center /
        contain;
    }
    &-1 {
      mask: url("../../assets/icons/services/pages/1.svg") no-repeat center /
        contain;
    }
    &-2 {
      mask: url("../../assets/icons/services/pages/2.svg") no-repeat center /
        contain;
    }
    &-3 {
      mask: url("../../assets/icons/services/pages/3.svg") no-repeat center /
        contain;
    }
  }
  &-content {
    margin-left: 25px;
    margin-right: 25px;
    position: relative;
    width: 50%;
    height: 100%;
    &-container {
      transition: all 0.2s ease-in-out;
      position: absolute;
      top: calc((100% + 10px) / 2);
      transform: translate(0, calc((-1) * (100% - 10px) / 2));
    }
    h3 {
      color: #2a2a2a;
      line-height: 28px;
    }
    small {
      transition: all 0.2s ease-in-out;
      opacity: 0;
      margin-top: 10px;
    }
  }
}
.services-slider {
  margin-bottom: 50px;
  height: 180px;
}

@media (max-width: 950px) {
  .services-slide {
    height: calc((100% - 25px) / 2) !important;
  }
  .services-slider {
    height: calc(360px + 25px);
  }
}

@media (max-width: 600px) {
  .services-slider {
    height: calc(540px + 50px);
    .services-slide {
      height: calc((100% - 50px) / 3) !important;
    }
  }
}
