@import "../../assets/styles/_variables.scss";
@media (max-width: 600px) {
  .hide-600 {
    display: none;
  }
  body .service-descriptor {
    h2 {
      font-size: 16px;
    }
    p {
      font-size: 14px;
    }
    .navigation {
      h2 {
        line-height: 18px;
      }
      .dropdown {
        width: 100%;
      }
    }
    .navigation .service-image-container {
      margin-right: 15px;
      width: 40px;
      height: 40px;
    }
  }
}
@media (max-width: $breakpoint-sm) {
  .service-descriptor {
    .navigation {
      .arrow-down {
        background-position: right 23% !important;
        line-height: 18px;
      }
      .service-active {
        align-items: flex-start !important;
      }
    }
  }
}
.service-descriptor {
  .container {
    padding-left: 25px;
    padding-right: 25px;
  }
  .navigation {
    &-front {
      position: relative;
      z-index: 4;
      width: 100%;
      height: 330px;
      background: radial-gradient(
        53.89% 53.89% at 50% 100%,
        #73acff 0%,
        #3e8cff 100%
      );
      display: flex;
      align-items: flex-end;
    }
    .service-active {
      display: flex;
      align-items: center;
      margin-bottom: 25px;
      padding-right: 25px;
    }
    .arrow-down {
      background: url("../../assets/icons/services/arrow-down.svg") no-repeat;
      background-position: right 53%;
      padding-right: 25px;
    }
    h2 {
      line-height: 64px;
      font-weight: 500;
    }
    .service-image-container {
      width: 64px;
      height: 64px;
      min-width: 64px;
      margin-right: 25px;
      background-color: #fff;
      &-0 {
        mask: url("../../assets/icons/services/1.svg") no-repeat center /
          contain;
      }
    }
    .dropdown {
      &-active {
        transform: translateY(500px);
      }
      position: relative;
      bottom: 500px;
      transition: all 0.5s ease-in-out;
      width: 100%;
      &-content {
        z-index: 2;
        background-color: rgb(220, 227, 227);
        h2 {
          color: black;
        }
        .service-image-container {
          background-color: black;
        }
        li {
          display: flex;
          align-items: center;
          padding-bottom: 12.5px;
          border-bottom: 1px solid #595959;
          padding-top: 12.5px;
        }
        ul {
          border-top: 1px solid #595959;
          margin-top: 25px;
          margin-bottom: 25px;
        }
        margin: 0;
        width: 100%;
        position: absolute;
        display: flex;
        flex-direction: column;
      }
    }
  }
}
.service-content {
  display: flex;
  h2 {
    color: black;
  }
  &-text {
    width: 600px;
    height: max-content;
  }
  &-video-container {
    z-index: 5;
    position: relative;
    width: calc(100vw - 600px);
  }
  &-video-bg {
    width: calc(100vw - 600px);
    height: 100vh;
    position: sticky;
  }
  &-video-bg-reset {
    top: 60px;
  }
}
