@import "../../assets/styles/_variables";

.bg-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: url("../../assets/img/bg-slider.jpeg") no-repeat 50% 50% / cover;
  z-index: -2;
}
.slider {
  height: 200vh;
  width: 100vw;
  background-color: grey;
  position: absolute;
  top: 0;
  z-index: -1;
}

@media (max-width: $breakpoint-md) and (orientation: landscape) {
  .who-we-are {
    &-bg {
      background-size: cover;
      background-position: 0% 75%;
      height: 600px;
    }
  }
}
@media (min-width: $breakpoint-md) {
  .who-we-are {
    height: 600px;
  }
}

.who-we-are {
  display: flex;
  background: radial-gradient(
    53.89% 53.89% at 50% 100%,
    #73acff 0%,
    #3e8cff 100%
  );
  .content {
    width: 50%;
    &-box {
      padding-top: 25px;
      padding-bottom: 25px;
    }
    h2 {
      color: #fff;
    }
    p {
      color: #fff;
      text-align: justify;
    }
  }
  &-bg {
    width: 50%;
    height: 100%;
    background-image: url("../../assets/img/who-we-are.png");
    background-size: cover;
    background-repeat: no-repeat;
  }
}
@media (max-width: $breakpoint-md) {
  .who-we-are {
    .content {
      width: 100%;
      margin: 0;
      .content-box {
        margin: 0;
        margin-right: 25px;
        margin-left: 25px;
        padding-top: 75px;
        padding-bottom: 75px;
      }
    }
    display: block;
    &-bg {
      height: 600px;
      width: 100%;
    }
  }
}

.what-we-do {
  background-color: #fff;
  h2 {
    padding-top: 4rem;
    color: #2a2a2a;
    text-align: center;
  }
}

.our-team {
  height: max-content;
  padding-bottom: 50px;
  background-color: rgb(200, 207, 207, 0.2);
  .content {
    width: 70vw;
    max-width: 690px;
    margin: 0px auto 50px auto;
    padding-top: 118px;
    &-desc {
      h2 {
        color: black;
        font-weight: 400;
      }
      p:not(:first-child) {
        margin-top: 2rem;
      }
      margin-bottom: 2rem;
    }
    .featured-employees {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      .employee {
        width: calc((100% - 22px) / 2);
        .photo {
          &-calendar {
            &-1 {
              background-image: url("../../assets/icons/calendar-1.svg");
            }
            &-2 {
              background-image: url("../../assets/icons/calendar-2.svg");
            }
            background-repeat: no-repeat;
            background-origin: content-box;
            aspect-ratio: 335/391 !important;
          }
          aspect-ratio: 334/502;
          background-color: $main-color;
          &.photo-vlad {
            background-image: url("../../assets/img/employee-vlad.jpg");
          }
          &.photo-dima {
            background-image: url("../../assets/img/employee-dima.jpg");
          }
          background-position: center;
          background-size: cover;
          position: relative;
          .btn-linkedin {
            font-family: "DM Sans", sans-serif;
            width: 80px;
            height: 33px;
            color: #3d8cff;
            border: 2px solid #3d8cff;
            border-radius: 4px;
            position: absolute;
            right: 19px;
            top: 20px;
            text-align: center;
            line-height: 29px;
            transition: all 0.1s ease-in-out;
            &:hover {
              background-color: #3d8cff;
              color: white;
            }
          }
        }
      }
      .name {
        margin-top: 11px;
        color: #2a2a2a;
        font-size: 21px;
        line-height: 28px;
        font-weight: 500;
      }
      .function {
        font-size: 12px;
        color: #2a2a2a;
      }
    }
  }
}
@media (max-width: $breakpoint-md) {
  .our-team {
    .content {
      width: 85vw;
    }
  }
}
@media (max-width: $breakpoint-sm) {
  .our-team > .content > .featured-employees > .employee {
    width: 100%;
    margin-bottom: 25px;
  }
}

.home-benefits {
  height: max-content;
  .content-box {
    width: 70vw;
    max-width: 690px;
    margin: 0px auto 0px auto;
    padding-top: 118px;
    padding-bottom: 50px;
    h2 {
      color: black;
      font-weight: 400;
    }
    .row {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      .content-block {
        img {
          height: 70px;
          width: 70px;
          padding: 14px;
          border-radius: 50%;
          background-color: #f6f6f6;
        }
        margin-top: 25px;
        width: calc((100% - 20px) / 2);
        p {
          line-height: 24px;
        }
      }
    }
  }
}

@media (max-width: $breakpoint-md) {
  .home-benefits {
    .content-box {
      width: 85vw;
      .row:not(:first-child) {
        margin-top: 0;
      }
    }
  }
}
@media (max-width: $breakpoint-sm) {
  .home-benefits > .content-box > .row > .content-block {
    width: 100%;
  }
  .home-benefits > .content-box > .row:last-child {
    margin-bottom: 50px;
  }
}

.our-partners {
  height: max-content;
  .content-box {
    width: 70vw;
    max-width: 690px;
    margin: 0px auto 0px auto;
    padding-bottom: 50px;
    padding-top: 40px;
    h2 {
      color: #000000;
    }
    .clients {
      margin-top: 35px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-wrap: wrap;
    }
  }
}
@media (max-width: $breakpoint-md) {
  .our-partners {
    height: max-content;
    padding-bottom: 50px;
    .content-box {
      width: 85vw;
      .clients {
        img {
          margin-top: 25px;
          width: 20%;
        }
      }
    }
  }
}

@media (max-width: $breakpoint-sm) {
  .our-partners {
    .content-box {
      .clients {
        img {
          width: calc((100% - 75px) / 2);
          margin-top: 25px;
        }
      }
    }
  }
}

.calendar-days {
  margin-top: 25px;
  display: flex;
  flex-wrap: wrap;
  flex: 1 0 20%;
  li {
    margin: 15px;
    border-radius: 50%;
    background-color: grey;
    background-origin: content-box;
  }
}
