@import "../../assets/styles/_variables.scss";

.more-info {
  margin-left: 25px;
  padding-left: 25px;
  padding-right: 25px;
  line-height: 38px;
  font-size: 14px;
  border: 1px #e2e7e9 solid;
  a {
    color: #e2e7e9;
  }
  border-radius: 7px;
  display: inline-block;
  font-family: "DM SANS";
}

.video-bg {
  position: absolute;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  object-fit: cover;
  z-index: 1;
}
.video-overlay {
  position: absolute;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  background-color: rgba(61, 139, 255, 0.8);
  z-index: 2;
}
.slide-bg {
  height: 100vh;
  background-color: rgba(61, 139, 255, 0.8);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 25%;
}

@media (max-height: 550px) and (max-width: $breakpoint-md) {
  .hero,
  .slide-bg,
  .slideR-wrapper,
  .video-bg {
    height: 750px;
  }
}

.hero {
  position: relative;
  z-index: 5;
  height: 100%;
  padding-top: 100px;
  padding-bottom: 150px;
  display: flex;
  align-items: flex-end;
  .heading {
    h1 {
      display: inline-block;
      margin-right: 25px;
    }
  }
  .undertext {
    color: rgb(255, 255, 255);
    p {
      font-size: 18px;
      display: inline-block;
      padding-right: 25px;
    }
    margin-bottom: 50px;
  }
  .know-us-btn {
    cursor: pointer;
    display: inline-block;
    border: none;
    font-size: 14px;
    background-color: $accent-1;
    padding: 0px 40px 0px 40px;
    border-radius: 7px;
    line-height: 40px;
    background-color: #e2e7e9;
    font-family: "DM Sans";
  }
}
@media (min-width: $breakpoint-md) {
  .hero {
    .padding-lg {
      padding-left: 50px;
    }
  }
}
@media (max-width: $breakpoint-md) {
  .know-us-btn {
    margin-bottom: 30px;
  }
  .hero {
    padding-bottom: 75px;
  }
}
@media (max-height: 390px) and (orientation: landscape) {
  .hero {
    h1 {
      font-size: 32px;
    }
  }
}
@media (max-width: $breakpoint-md) and (orientation: landscape) {
  .slide-bg {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 25%;
  }
  .hero {
    .undertext {
      margin-bottom: 25px;
    }
    .know-us-btn {
      margin-bottom: 0px;
    }
  }
}

@media (max-width: $breakpoint-sm) {
  .hero > .heading > h1 {
    width: calc(100vw - 50px);
    box-sizing: border-box;
  }
  .hero {
    .undertext {
      margin-bottom: 25px;
    }
  }
}

.slider-navigation {
  position: absolute;
  z-index: 4;
  bottom: 50px;
  right: 50px;
  display: flex;
  gap: 20px;
  &-text {
    width: max-content;
    overflow: hidden;
  }
  &-button {
    &-active {
      color: $main-color;
      background-color: white;
      padding-left: 10px;
      padding-right: 10px;
      line-height: 27px;
      max-width: 400px;
      background-image: none;
    }
    cursor: pointer;
    background-image: url("../../assets/icons/selector.svg");
    background-repeat: no-repeat;
    background-position: center;
    max-width: 18px;
    height: 30px;
    overflow: hidden;
    border-radius: 173px;
    color: transparent;
    transition: all 0.3s linear;
  }
  @keyframes nav-change {
    0% {
      max-width: 18px;
      border-radius: 50%;
    }
    100% {
      max-width: 400px;
      border-radius: 173px;
    }
  }
}
@media (max-width: $breakpoint-md) {
  .slider-navigation {
    right: 25px;
    bottom: 25px;
  }
}

.slideR-wrapper {
  position: relative;
}
