@import "../../assets/styles/_variables.scss";

.what-we-do-slider {
  padding-bottom: 93px;
}
#root > div.what-we-do > div > div {
  padding-top: 50px;
}
.what-we-do-slide {
  &-wrapper {
    height: 320px;
    padding-top: 36px;
    &:hover {
      .what-we-do-slide-image {
        transform: translateY(-40px);
      }
      .what-we-do-slide-title {
        transform: translateY(-55px);
      }
    }
  }
  &-image {
    position: absolute;
    height: 200px;
    width: 200px;
    // top: 15px;
    transform: translateY(15px);
    transition: all 0.5s ease-in-out;
    left: calc((100% - 200px) * 0.5);
    right: calc((100% - 200px) * 0.5);
  }
  &-title {
    position: absolute;
    transition: all 0.5s ease-in-out;
    text-align: center;
    color: #fff;
    top: 280px;
    left: calc((100% - 200px) * 0.5);
    right: calc((100% - 200px) * 0.5);
  }
}

@media (max-width: $breakpoint-md) {
  .what-we-do-slide-image {
    img {
      height: 175px;
      width: 175px;
    }
    height: 175px;
    width: 175px;
    left: calc((100% - 175px) * 0.5);
    right: calc((100% - 175px) * 0.5);
  }
}
