@import "../../assets/styles/_variables.scss";

.what-we-do-slider {
  padding-bottom: 50px;
}
#root > div.what-we-do > div > div {
  padding-top: 22px;
}
@media (hover: none) {
  .what-we-do-slide {
    &-wrapper {
      & {
        .what-we-do-slide-image {
          background-color: #3d8cff;
          border-color: #3d8cff;
          &-container {
            background-color: #fff;
          }
        }
      }
    }
  }
}
@media (hover: hover) {
  .what-we-do-slide {
    &-wrapper {
      &:hover {
        .what-we-do-slide-image {
          transform: translateY(-40px);
          background-color: #3d8cff;
          border-color: #3d8cff;
          &-container {
            background-color: #fff;
          }
        }
        .what-we-do-slide-title {
          transform: translateY(-55px);
        }
        .what-we-do-slide-explore > small {
          color: rgb(42, 42, 42, 0.3);
        }
      }
    }
  }
}
.what-we-do-slide {
  &-wrapper {
    height: 320px;
    padding-top: 36px;
    font-family: "DM Sans", sans-serif;
  }
  &-image {
    background-color: #fff;
    border: 1px solid #2a2a2a3f;
    position: absolute;
    height: 200px;
    width: 200px;
    // top: 15px;
    transform: translateY(15px);
    transition: all 0.25s ease-in-out;
    left: calc((100% - 200px) * 0.5);
    right: calc((100% - 200px) * 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    &-container {
      width: 130px;
      height: 130px;
      background-color: #2a2a2a;
      &-0 {
        mask: url("../../assets/icons/services/1.svg") no-repeat center /
          contain;
      }
      &-1 {
        mask: url("../../assets/icons/services/2.svg") no-repeat center /
          contain;
      }
      &-2 {
        mask: url("../../assets/icons/services/3.svg") no-repeat center /
          contain;
      }
      &-3 {
        mask: url("../../assets/icons/services/4.svg") no-repeat center /
          contain;
      }
    }
  }
  &-title {
    position: absolute;
    transition: all 0.25s ease-in-out;
    text-align: center;
    color: #2a2a2a;
    top: 280px;
    left: calc((100% - 200px) * 0.5);
    right: calc((100% - 200px) * 0.5);
  }
  &-explore > small {
    position: absolute;
    transition: all 0.25s ease-in-out;
    text-align: center;
    font-size: 14px;
    color: rgb(42, 42, 42, 0);
    top: 290px;
    left: calc((100% - 200px) * 0.5);
    right: calc((100% - 200px) * 0.5);
  }
}

@media (max-width: $breakpoint-md) {
  .what-we-do-slide {
    .what-we-do-slide-image {
      height: 175px;
      width: 175px;
      left: calc((100% - 175px) * 0.5);
      right: calc((100% - 175px) * 0.5);
    }
  }
  .what-we-do-slide-title {
    top: 260px;
  }
  .what-we-do-slider > .what-we-do-swiper > .swiper-wrapper {
    height: 650px;
  }
}

@media (max-width: $breakpoint-sm) {
  .what-we-do-slider > .what-we-do-swiper > .swiper-wrapper {
    height: 1300px;
  }
  .swiper-wrapper > .what-we-do-slide {
    height: calc((100% - 30px) / 4) !important;
  }
}

.what-we-do-swiper > .swiper-wrapper {
  height: 400px;
}

.what-we-do-slide {
  height: calc((100% - 30px) / 2) !important;
}
