@import "../../assets/styles/_variables.scss";

.what-we-do-slider {
  padding-bottom: 93px;
}
#root > div.what-we-do > div > div {
  padding-top: calc(4rem - 36px);
}
.what-we-do-slide {
  &-wrapper {
    height: 320px;
    padding-top: 36px;
    &:hover {
      .what-we-do-slide-image {
        transform: translateY(-40px);
        background-color: #3d8cff;
        border-color: #3d8cff;
        .what-we-do-slide-image-container {
          background-color: transparent;
          &-0 {
            mask: none;
            background-image: url("../../assets/icons/services/1-hover.svg");
          }
          &-1 {
            mask: none;
            background-image: url("../../assets/icons/services/2-hover.svg");
          }
          &-2 {
            mask: none;
            background-image: url("../../assets/icons/services/3-hover.svg");
          }
          &-3 {
            mask: none;
            background-image: url("../../assets/icons/services/4-hover.svg");
          }
        }
      }
      .what-we-do-slide-title {
        transform: translateY(-55px);
      }
    }
  }
  &-image {
    background-color: #fff;
    border: 1px solid #2a2a2a3f;
    position: absolute;
    height: 200px;
    width: 200px;
    // top: 15px;
    transform: translateY(15px);
    transition: all 0.25s ease-in-out;
    left: calc((100% - 200px) * 0.5);
    right: calc((100% - 200px) * 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    &-container {
      width: 130px;
      height: 130px;
      background-color: #2a2a2a;
      &-0 {
        mask: url("../../assets/icons/services/1.svg") no-repeat center /
          contain;
      }
      &-1 {
        mask: url("../../assets/icons/services/2.svg") no-repeat center /
          contain;
      }
      &-2 {
        mask: url("../../assets/icons/services/3.svg") no-repeat center /
          contain;
      }
      &-3 {
        mask: url("../../assets/icons/services/4.svg") no-repeat center /
          contain;
      }
    }
  }
  &-title {
    position: absolute;
    transition: all 0.25s ease-in-out;
    text-align: center;
    color: #2a2a2a;
    top: 280px;
    left: calc((100% - 200px) * 0.5);
    right: calc((100% - 200px) * 0.5);
  }
}

@media (max-width: $breakpoint-md) {
  .what-we-do-slide-image {
    height: 175px;
    width: 175px;
    left: calc((100% - 175px) * 0.5);
    right: calc((100% - 175px) * 0.5);
  }
}
