@import "../../assets/styles/_variables.scss";

.vacancies-row {
  display: flex;
  align-items: center;
  min-height: 50px;
  &.location-hidden {
    small,
    h4 {
      width: 22.5%;
    }
    .location {
      display: none;
    }
  }
  &.stack-hidden {
    small,
    h4 {
      width: 22.5%;
    }
    .stack {
      display: none;
    }
  }
  &.location-stack-hidden {
    small,
    h4 {
      width: 33.3%;
    }
    .stack,
    .location {
      display: none;
    }
  }
  small,
  h4 {
    width: 18%;
    margin-top: 10px;
    margin-bottom: 10px;
    padding-right: 10px;
  }
  a {
    margin-left: auto;
    height: 33.3px;
    padding-left: 25px;
    padding-right: 25px;
    line-height: 31.3px;
    border: 1px solid $main-color;
    color: $main-color;
    border-radius: 4px;
    transition: all 0.1s ease-in-out;
    &:hover {
      background-color: $main-color;
      color: #fff;
    }
  }
}
.vacancies-separator {
  width: 100%;
  height: 1px;
  background-color: rgba(0, 0, 0, 0.2);
}

@media (max-width: $breakpoint-md) {
  .vacancies-row {
    a {
      padding-left: 15px;
      padding-right: 15px;
    }
    small,
    h4 {
      width: calc((100% - 80px) / 4);
    }
    &.location-hidden {
      small,
      h4 {
        width: calc((100% - 80px) / 3);
      }
    }
    &.stack-hidden {
      small,
      h4 {
        width: calc((100% - 80px) / 3);
      }
    }
    &.location-stack-hidden {
      small,
      h4 {
        width: calc((100% - 80px) / 2);
      }
    }
  }
}
