$main-color: #74abff;
$accent-1: #f4d221;
$accent-2: #a5abbd;
$accent-3: #f6899f;
$accent-4: #bb546c;
$nav-color: white;

:export {
  mainColor: $main-color;
  accentOne: $accent-1;
  accentTwo: $accent-2;
  accentThree: $accent-3;
  accentFour: $accent-4;
}

body {
  margin: 0;
  font-family: "Ubuntu", "Segoe UI", "Roboto", "Oxygen", "Cantarell",
    "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.flex {
  display: flex;
}

.space-between {
  justify-content: space-between;
}

.align-center {
  align-items: center;
}
.container {
  margin-left: 25px;
  margin-right: 25px;
}
a {
  text-decoration: none;
  font-size: 15px;
}

$breakpoint-md: 724px;
@media (max-width: $breakpoint-md) {
  .hide-md {
    display: none;
  }
}
$breakpoint-md: 724px;
@media (min-width: $breakpoint-md) {
  .show-md {
    display: none;
  }
}

.lorem {
  height: 100vh;
  width: 100vw;
  background-color: white;
}

h1 {
  font-size: 48;
  color: white;
  padding: 0;
  margin: 0;
}
