$main-color: #74abff;

$accent-1: #f4d221;
$accent-2: #a5abbd;
$accent-3: #f6899f;
$accent-4: #bb546c;
$nav-color: white;
$breakpoint-md: 950px;
$breakpoint-sm: 416px;

:export {
  main-color: $main-color;
  accent-1: $accent-1;
  accent-2: $accent-2;
  accent-3: $accent-3;
  accent-4: $accent-4;
  breakpoint-md: $breakpoint-md;
  breakpoint-sm: $breakpoint-sm;
}
